body{
    text-align: center;
    font-variant: small-caps;
    background: rgb(2,0,36);
     background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
}
#h1{
   color: aqua;
}
#h2{
    color: aquamarine;
}
#h3{
    color: bisque;
}
#h4{
    color:blueviolet;
}
#h5{
    color:chocolate;
}
#h6{
    color: cornflowerblue;
}
#Image1{
    width:500px;
    border-color: azure;
    border-width: medium;
}
#image2{
    width: 300px;
    height: 300px;
}